###Tuples

In [1]:
#Tuples [immutable=once created, cannot change vals; lists in tuples can be changed though]
countries = ('India', 'USA', 'UK', 'Singapore')
type(countries)

tuple

In [2]:
#Packing: assign multiple vals to single var which is a tuple, without using parenthesis
regions = 'Asia', 'Europe', 'N America', 'S America'
type(regions)

tuple

In [3]:
num = 1,5,7,'three'
type(num)

tuple

In [4]:
#Unpacking: tupble concept, counter-feature to packing, re-assign to multiple vars in sequence
a,b,c,d = num
print(a,b,c)

1 5 7

In [5]:
type(a)

int

In [6]:
#Assigning 1 item to a tuple
trees = ('Neem')
type(trees)
#Side effect of having 1 item only - will get the type of that single value

str

In [7]:
#To overcome side effect of 1 item only tuple
trees = ('Neem',)
type(trees)

tuple

In [8]:
#tuple inside a tuple as well as different types of values in a single tuple
var1 = (2,4,9, 'eight', (5,6,7))
type(var1)

tuple

In [9]:
#tuples are accessed via indices
var2 = ('california', 'texas', 'georgia', 'tennessee', 'arizona')
var2[0]

'california'

In [10]:
#slicing & dicing of tuples; traversal happens from left to right; if negative index is provided - it starts on right
var2[2:4]

('georgia', 'tennessee')

In [11]:
var2[2:]

('georgia', 'tennessee', 'arizona')

In [12]:
var2[:-2]

('california', 'texas', 'georgia')

In [13]:
var2[-3:17]

('georgia', 'tennessee', 'arizona')

In [14]:
var1

(2, 4, 9, 'eight', (5, 6, 7))

In [15]:
#values in a tuple can't be deleted; except in certain cases
del var1[3]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
var1[4][0]

5

In [ ]:
#Index method returns first match
religions = ('Hinduism', 'Christianity', 'Hinduism', 'Buddhism', 'Sikhism')
religions.index('Buddhism')

3

In [ ]:
religions.count('Sikhism')

1

### Exercises

In [ ]:
test_tuple = (1,24,5, (8,9, 'this is a list inside a tuple'))
len(test_tuple)

4

In [ ]:
test_tuple2 = 7,8,9
max(test_tuple)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [ ]:
sum(test_tuple2)

24

In [ ]:
any(test_tuple2)

True

In [ ]:
all(test_tuple2)

True

In [ ]:
sorted(test_tuple2)

[7, 8, 9]

In [ ]:
tuple(test_tuple2)

(7, 8, 9)

### COPY METHOD: RETURNS COPY OF THE SET:
#### VARIATIONS WHEY COPYING USING COPY() VS = (ASSIGNMENT) OPERATOR TO COPY SETS:-
#### COPYING A SET USING COPY() METHOD DOES 'SHALLOW COPY', WHILE USING = OPERATOR DOES 'DEEP COPY'

In [ ]:
#Using the = (assignment) operator - aka 'deep copy':
namesSet = {"Reagan", "JFK", "Trump"}
names2 = namesSet
print(type(namesSet))
print(type(names2))
print("namesSet is: ", namesSet)
print("names2 is: ", names2)
print("************")

#adding new element in the new set
names2.add("Roosevelt") #Since names2 was assigned the values of namesSet via ASSIGNMENT OPERATOR - a 'deep copy' was performed
print("names2 after adding a new elem is: ", names2)
print("namesSet after adding new elem to names2 is: ", namesSet)

<class 'set'>
<class 'set'>
namesSet is:  {'Reagan', 'Trump', 'JFK'}
names2 is:  {'Reagan', 'Trump', 'JFK'}
************
names2 after adding a new elem is:  {'Reagan', 'Roosevelt', 'Trump', 'JFK'}
namesSet after adding new elem to names2 is:  {'Reagan', 'Roosevelt', 'Trump', 'JFK'}

In [ ]:
#Using the copy() method instead of = operator - aka shallow copy
presidents = {"Reagan", "JFK", "Trump"}
presidents2 = presidents.copy()
print("************")
print("presidents has following elems: ", presidents)
print("presidents2 has follwong elems: ", presidents2)
presidents2.add("TR")
print("presidents after adding elem to presidents2 is: ", presidents)
print("presidents2 after adding elem to presidents2 is: ", presidents2)

************
presidents has following elems:  {'Reagan', 'Trump', 'JFK'}
presidents2 has follwong elems:  {'Reagan', 'Trump', 'JFK'}
presidents after adding elem to presidents2 is:  {'Reagan', 'Trump', 'JFK'}
presidents2 after adding elem to presidents2 is:  {'Reagan', 'TR', 'Trump', 'JFK'}

#### fromKeys() method on dict

In [ ]:
print(2/7 + 3/8 )

0.6607142857142857

In [ ]:
p1 = 2/7 + 3/8
p2 = 16/56 + 21/56
print(37/56)

0.6607142857142857

In [ ]:
q1 = 8/12 + 9/12
print(q1)

1.4166666666666665

In [ ]:
r1 = 2/4 % 5/6
r2 = 2/4 * 6/5
print(r1)
print(r2)

0.08333333333333333
0.6