###Tuples

In [2]:
#Tuples [immutable=once created, cannot change vals; lists in tuples can be changed though]
countries = ('India', 'USA', 'UK', 'Singapore')
type(countries)

tuple

In [3]:
#Packing: assign multiple vals to single var which is a tuple, without using parenthesis
regions = 'Asia', 'Europe', 'N America', 'S America'
type(regions)

tuple

In [4]:
num = 1,5,7,'three'
type(num)

tuple

In [6]:
#Unpacking: tupble concept, counter-feature to packing, re-assign to multiple vars in sequence
a,b,c,d = num
print(a,b,c)

1 5 7

In [7]:
type(a)

int

In [9]:
#Assigning 1 item to a tuple
trees = ('Neem')
type(trees)
#Side effect of having 1 item only - will get the type of that single value

str

In [10]:
#To overcome side effect of 1 item only tuple
trees = ('Neem',)
type(trees)

tuple

In [11]:
#tuple inside a tuple as well as different types of values in a single tuple
var1 = (2,4,9, 'eight', (5,6,7))
type(var1)

tuple

In [13]:
#tuples are accessed via indices
var2 = ('california', 'texas', 'georgia', 'tennessee', 'arizona')
var2[0]

'california'

In [14]:
#slicing & dicing of tuples; traversal happens from left to right; if negative index is provided - it starts on right
var2[2:4]

('georgia', 'tennessee')

In [15]:
var2[2:]

('georgia', 'tennessee', 'arizona')

In [16]:
var2[:-2]

('california', 'texas', 'georgia')

In [19]:
var2[-3:17]

('georgia', 'tennessee', 'arizona')

In [20]:
var1

(2, 4, 9, 'eight', (5, 6, 7))

In [21]:
#values in a tuple can't be deleted; except in certain cases
del var1[3]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
var1[4][0]

5

In [23]:
#Index method returns first match
religions = ('Hinduism', 'Christianity', 'Hinduism', 'Buddhism', 'Sikhism')
religions.index('Buddhism')

3

In [24]:
religions.count('Sikhism')

1

### Exercises

In [1]:
test_tuple = (1,24,5, (8,9, 'this is a list inside a tuple'))
len(test_tuple)

4

In [4]:
test_tuple2 = 7,8,9
max(test_tuple)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [5]:
sum(test_tuple2)

24

In [6]:
any(test_tuple2)

True

In [7]:
all(test_tuple2)

True

In [9]:
sorted(test_tuple2)

[7, 8, 9]

In [10]:
tuple(test_tuple2)

(7, 8, 9)