In [2]:
import pandas as pd
surveyResponse = pd.read_csv('Survey_Resp.csv') #surveyResponse is the primary data frame in this notebook
print(type(surveyResponse))
surveyResponse.head(10)

pd.set_option('display.max_columns', 200) #sets display cols in a data frame; otherwise rows will overflow
pd.set_option('display.max_rows', 200) #sets display cols in a data frame; otherwise rows will overflow
surveyResponse = pd.read_csv('Survey_Resp.csv') #surveyResponse is the primary data frame in this notebook
surveyResponse.head(10)
'''surveyResponse.to_json('surveyresponse.json')
json_survey = pd.read_json('surveyresponse.json')
json_survey.head(10)'''

<class 'pandas.core.frame.DataFrame'>

"surveyResponse.to_json('surveyresponse.json')\njson_survey = pd.read_json('surveyresponse.json')\njson_survey.head(10)"

In [8]:
d = [[3,4,5,6],['a','b','c']] #2D list into a data frame
pd.DataFrame(d) #DataFrame is a class object instantiation

   0  1  2    3
0  3  4  5  6.0
1  a  b  c  NaN

In [12]:
myDict = {'idx1':{'a':1, 'b':2, 'c':3}, 'idx2':{'a':'hello', 'b':'world', 'c':'again'},}
df1 = pd.DataFrame(myDict)
df1

   idx1   idx2
a     1  hello
b     2  world
c     3  again

In [13]:
df1.mean()

idx1    2.0
dtype: float64

In [14]:
df1.corr() # relationship between 2 or more measures 
#measures are columns that hold numeric values
#dimension are columns that hold non-numeric/string vals

      idx1
idx1   1.0

In [ ]:
### NUMPY - PY LIB